<!DOCTYPE html>
<html>
    <head>
        <title>QMS</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="css/style_home.css"/>
    </head>
    <body>
        <ul>
            <li><a href="http://localhost:3000/teacher" class="round green">Teacher<span class="round">If you are a teacher</span></a></li>
            <li><a href="http://localhost:3000/student" class="round green">Student<span class="round">If you are a student</span></a></li>
        </ul>
    </body>
</html>


