<!DOCTYPE html>
<html>
    <head>
        <title>QMS</title>
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="css/style_home.css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/home_js.js"></script>
    </head>
    <body>
        <div class="main">
        <form id="form">
            <a href="#" type="submit" name ="Teacher" id="Teacher" class="myButton">Teacher</a>
            <a href="#" type="submit" name ="student" id="Student" class="myButton">Student</a>
        </form>
        </div>
    </body>
</html>


