
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/quiz_maker.css">
  <script type="text/javascript" src="js/quiz_maker.js"></script>
  <title>Quiz maker</title>
</head>

<body>
    <section>
        <!--for demo wrap-->
        <h1>Quiz Form</h1>
        <h2>Title</h2>
        <input type="text" name="name[0]" id="title" class="task" /></td>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody id = 'item_field'>
              <tr>
                <td>Question</td>
                <td colspan="4"><input type="text" name="name[0]" id="question" class="task" /></td>
              </tr>
              <tr>
                <td>Option 1</td>
                <td colspan="4"><input type="text" name="name[1]" id="option1" class="task" /></td>
              </tr>
              <tr>
                <td>Option 2</td>
                <td colspan="4"><input type="text" name="name[2]" id="option2" class="task" /></td>
              </tr>
              <tr>
                <td>Option 3</td>
                <td colspan="4"><input type="text" name="name[3]" id="option3" class="task" /></td>
              </tr>
              <tr>
                <td>Option 4</td>
                <td colspan="4"><input type="text" name="name[4]" id="option4" class="task" /></td>
              </tr>
              <tr>
                <td>Answer</td>
                <td colspan="4"><input type="text" name="name[5]" id="answer" class="task" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <button type="button" name="submit" id="submit" value="Submit">Submit</button>
      <button type="button" name="next" id="next" value="Add next">Add Next</button>
</body>
</html>