<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/select_student_course.js"></script>
	<title>Choose course Student</title>
</head>

<body style="background-color: #76b852;color: white;font-family: cursive;">
	<p class="h1" style="text-align: center; padding: 30px;">Attempt Quiz for</p>
	<% data.forEach(function(dat) { %>
	<div class="form-check" style="text-align: center; padding: 10px;font-size: x-large;">
		<input class="form-check-input" type="radio" name="radio" id ="radio-1" value="<%= dat%>">
		<label class="form-check-label" for="flexRadioDefault1">
			<%= dat%>
		</label>
	</div>
	<% }); %>
	<button style="margin: auto; display: block;margin-top: 10px;background-color: white" type="button" class="btn btn-success"><a href="http://localhost:3000/logout">Logout</a></button>
	<button style="margin: auto; display: block;margin-top: 10px;background-color: white;" type="button" class="btn btn-success"><a href="http://localhost:3000/pick_student_course">Change course</a></button>
	<button style="margin: auto; display: block;margin-top: 10px;background-color: white;" type="button" class="btn btn-success"><a href="http://localhost:3000/quiz_stats">See score</a></button>
</body>
</html>