<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- Latest compiled JavaScript -->
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/select_student_course.css">
	<script type="text/javascript" src="js/select_student_course.js"></script>
	<title>Choose course Student</title>
</head>

<body>
    <div class="continput">
      <h1>Attempt Quiz</h1>
      <ul>
        <% data.forEach(function(dat) { %>
        <li>
          <input type="radio" name="radio" id = "radio-1" value="<%= dat%>">
          <label><%= dat%></label>
          <div class="bullet">
            <div class="line zero"></div>
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
            <div class="line four"></div>
            <div class="line five"></div>
            <div class="line six"></div>
            <div class="line seven"></div>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
	<button type="button" class="btn btn-success"><a href="http://localhost:3000/pick_student_course">Change course</a></button>
	<button type="button" class="btn btn-success"><a href="http://localhost:3000/logout">Logout</a></button>
</body>
</html>