<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<!-- Latest compiled JavaScript -->
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Quiz Stats</title>
</head>

<body style="background-color: #76b852;color: white;">
	<% for(var i=0; i < data.length; i++) { %>
	<p class="h1" style="text-align: center;padding: 30px;color: white;"><%= data[i].course %> - <%= data[i].title %> - <%= data[i].marks %> / <%= data[i].total_marks %></p>
	<% } %>
	<button style="margin: auto; display: block;margin-top: 10px;background-color: white;" type="button" class="btn btn-success"><a href="http://localhost:3000/select_student_course">Go Back</a></button>
</body>
</html>