<html>
<head>
    <title>Login</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="css/teacher_dashboard.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/teacher_dashboard.js"></script>
</head>
<body>
<table>
    <% data.forEach(function(dat) { %>
        <tr>
            <td>
                <input type="checkbox" name="checkbox1" id ="checkbox1" value="<%= dat%>"/>
            </td>
            <td><%= dat%></td>
        </tr>
    <% }); %>
        <tr>
            <td colspan="2"><button id ="myButton">Select courses</button></td>
        </tr>
  </table>

</body>
</html>